.clients__inner {
  padding: 100px 0px 117px 0px;
}

.clients__heading {
  margin: 0;
  margin-bottom: 66px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #22343d;
}

.clients__logoList {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  margin: 0;
}