
.collaborative__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 150px;
}

.collaborative__content {
  width: 486px;
}

.collaborative__heading {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #22343d;
}

.collaborative__middleText {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}

.collaborative__headingSpan {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343d;
}

.collaborative__smallHeading {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}

.managemant__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}

.managemant__texts {
  margin-bottom: 25px;
}