.customers__inner {
  padding-top: 150px;
  padding-bottom: 157px;
}

.customers__heading {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 34px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #22343D;
}

.customers__text {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #22343d;
}

.customersList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.customersList__item {
  width: 320px;
  padding: 26px;
  background-color: #ffffff;
  border: 1px solid #dedede;
  border-radius: 5px;
}

.customersList__icon {
  margin-bottom: 16px;
}

.customersList__text {
  margin: 0;
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
}

.customersList__clientDiv {
  display: flex;
  align-items: center;
}

.client__nameDiv {
  margin-left: 14px;
}

.client__name {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #02897A;
}

.client__position {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252b42;
}