// ============================HEADER===============================
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:  #e5e5e5;
}

.header__inner {
  display: flex;
  align-items: center;
}

