.hero {
  padding-top: 25px;
  background-color:  #e5e5e5;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__content {
  width: 458px;
}

.hero__heading {
  width: 400px;
  margin: 0;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #22343d;
}

.hero__text {
  margin: 0;
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #22343d;
}

.hero__videoBtn {
  margin-left: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #02897a;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hero__videoBtn:hover {
  color: #04a18f;
}

.hero__videoBtn:active {
  color: #0acab4;
}

.hero__triangle {
  margin-right: 8px;
}



@media only screen and (max-width: 520px) {
  .hero__inner {
    flex-wrap: wrap-reverse;
  }
  .hero__content {
    width: auto;
    margin-top: 10px;
    text-align: center;
  }
  .hero__img {
    width: 388px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__heading {
    width: auto;
    margin-bottom: 16px;
    font-size: 36px;
  }
}

@media only screen and (max-width: 400px) {
  .hero__img {
    width: 300px;
  }

  .hero__heading {
    font-size: 28px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 360px) {
  .hero__videoBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}