
.management__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 150px;
}

.management__content {
  width: 486px;
}

.management__heading {
  margin: 0;
  margin-bottom: 131px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #22343d;
}

.management__headingSpan {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343d;
}

.management__middleText {
  display: none;
}

.management__smallHeading {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}

.managemant__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}

.managemant__texts {
  margin-bottom: 25px;
}


@media only screen and (max-width: 520px) {
  .management__inner {
    flex-wrap: wrap-reverse;
    padding-top: 95px;
  }
  .management__img {
    width: 349px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .management__content {
    width: auto;
    margin-top: 50px;
  } 

  .management__heading {
    margin-bottom: 16px;
  }

  .management__middleText {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
    color: #22343d;
  }
} 

@media only screen and (max-width: 360px) {
  .management__img {
    width: 300px;
  }
} 