
.management__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 150px;
}

.management__content {
  width: 486px;
}

.management__heading {
  margin: 0;
  margin-bottom: 131px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #22343d;
}

.management__headingSpan {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343d;
}

.management__smallHeading {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}

.managemant__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}

.managemant__texts {
  margin-bottom: 25px;
}