.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin-left: 24px;
}

.nav__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #22343d;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link:active {
  text-decoration: none;
  color: red;
}

.nav__button {
  padding: 9px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #173a56;
  background-color: transparent;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  cursor: pointer;
}

.nav__In:hover {
  background-color: #02897a;
  color: #ffffff;
}

.nav__In:active {
  background-color: #05b39e;
  color: #ffffff;
}

.nav__up {
  color: #ffffff;
  border: none;
  background-color: #02897a;
  border-radius: 4px;
}

.nav__up:hover {
  background-color: #039a88;
}

.nav__up:active {
  background-color: #05b39e;
}

.nav__icon {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 6px;
  background-color: #F3F3F3;
  border: none;
  border-radius: 100px;
}