.strategies__inner {
  padding-top: 150px;
  padding-bottom: 64px;
}

.strategies__heading {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343d;
}

.strategies__text {
  margin: 0;
  margin-bottom: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}

.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #22343d;
}

.card-span {
  font-weight: 700;
}

.card-boltText {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #22343d;
}

.card-boltSecondText {
  color: #02897a;
}