.contact__inner {
  padding-top: 160px;
}

.contact__heading {
  margin: 0;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 34px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
}

.contact__text {
  width: 312px;
  margin: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 65px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #374754;
}

.contact__network {
  margin-bottom: 66px;
  text-align: center;
}

.contact__map {
  margin-bottom: 60px;
  text-align: center;
}

.contact__forms {
  width: 868px;
  padding: 52px 50px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 20px;
}

.contact__formHeading {
  margin: 0;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
}

.form__label {
  display: block;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  border-radius: 39px;
  padding: 19px 0px 19px 20px;
  margin-bottom: 45px;
}

.form__input {
  display: block;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #22343d;
  border: none;
  background-color: transparent;
}

.label-message {
  border-radius: 0;
  height: 150px;
}

.contact__formBtn {
  padding: 18px 54px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  background: #02897a;
  border-radius: 35px;
  border: none;
}

.contact__formBtn:hover {
  background-color: #039a88;
}

.contact__formBtn:active {
  background-color: #05b39e;
} 


@media only screen and (max-width: 520px) {
  .contact__inner {
    padding-top: 61px;
  }
  
  .contact__heading {
    margin-bottom: 25px;
  }
  
  .contact__text {
    margin-bottom: 124px;
  }

  .contact__network {
    margin-bottom: 66px;
    text-align: center;
  }
  
  .contact__map {
    margin-bottom: 17px;
  }
  
  .contact__forms {
    width: 450px;
    padding-top: 105px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
  }
}

@media only screen and (max-width: 460px) {
  .contact__forms {
    width: 400px;
  }
}

@media only screen and (max-width: 410px) {
  .contact__forms {
    width: 350px;
  }
}

@media only screen and (max-width: 360px) {
  .contact__forms {
    width: 300px;
  }
}