.strategies__resourceInner {
  padding-top: 66px;
  text-align: center;
}

.stories__btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #22343D;
  border: none;
  background-color: transparent;
}

.stories__icon {
  margin-left: 8px;
}