.effects__inner {
  padding: 150px 0px;
}

.effects__heading {
  margin: 0;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  color: #22343d;
}

.effects__types {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
.effects__list {
  width: 480px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.effects__item {
  margin-bottom: 39px;
}

.effects__content {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.effects__listHeading {
  margin: 0;
  margin-left: 14px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #22343D;
}

.effects__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #22343d;
}


@media only screen and (max-width: 520px) {
  .effects__inner {
    padding-top: 100px;
    padding-bottom: 0;
  }

  .effects__heading {
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 48px;
  }

  .effects__types {
    flex-direction: column;
  }

  .effects__img {
    display: block;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .effects__list {
    width: auto;
    margin-top: 38px;
  }
}

@media only screen and (max-width: 420px) {
  .effects__img {
    width: 350px;
  }
}

@media only screen and (max-width: 360px) {
  .effects__img {
    width: 300px;
  }
}